{%  extends 'base.html'  %}
{% block title %} {{ title }} {% endblock %}
{%  block content  %}
  <div class='container py-5'>
    <article>
      <h1>{{ group.title }}</h1>
      <h6><p>{{ gr_descr }}</p></h6>
      {% for post in page_obj %}
        <ul>
          <li>
            Автор: <a href="{% url 'posts:profile' post.author.username %}">
            <b>{{ post.author.get_full_name }}</b></a>
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:'d M Y' }}
          </li>
        </ul>
        <p>{{ post.text }}</p>
        {% if post.group %}
          <ul>
            <li>
              <a href="{% url 'posts:group_list' post.group.slug %}">
                  все записи группы</a>
            </li>
          </ul>
        {% endif %}
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
        {% include 'posts/includes/paginator.html' %}
    </article>
  </div>
{% endblock %}

